.btn.btn-action {
  background-color: #e0e1e2;
  border: none;
  color: rgba(0, 0, 0, .6);
}
.btn.btn-action:hover {
  background-color: #c0c1c2;
  color: rgba(0, 0, 0, .95);
}
.btn.btn-action:focus {
  outline: none;
}
