.button {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-weight: 700;
  border-radius: 0.25rem;
  background-color: #fd4659;
  color: #ffffff;
  cursor: pointer;
  border: none;
  font-size: 0.8rem;
}
