name: release-please

on:
  push:
    branches:
      - master

jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - uses: GoogleCloudPlatform/release-please-action@v2.5.6
        id: release
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          release-type: node
          package-name: react-responsive-modal
          path: react-responsive-modal
          changelog-types: '[{"type":"feat","section":"Features","hidden":false},{"type":"fix","section":"Bug Fixes","hidden":false},{"type":"chore","section":"Miscellaneous","hidden":false},{"type":"docs","section":"Documentation","hidden":false},{"type":"test","section":"Tests","hidden":false}]'

      - uses: actions/checkout@v2
        if: ${{ steps.release.outputs.release_created }}

      - name: Use Node 12
        uses: actions/setup-node@v1
        with:
          node-version: 12.x
        if: ${{ steps.release.outputs.release_created }}

      - name: Install dependencies
        run: yarn install --immutable
        if: ${{ steps.release.outputs.release_created }}

      - name: Build react-responsive-modal
        run: yarn workspace react-responsive-modal build
        if: ${{ steps.release.outputs.release_created }}

      - name: Publish react-responsive-modal npm package
        run: yarn workspace react-responsive-modal npm publish
        env:
          NPM_TOKEN: ${{secrets.NPM_TOKEN}}
        if: ${{ steps.release.outputs.release_created }}
